@model IEnumerable<Link2Web.Models.Link>

@{
    ViewBag.Title = "Links";
}

<h2>Links</h2>

<p>
    @Html.ActionLink("Add link", "Create")
</p>
@section scripts
{
    @Styles.Render("~/Content/datatables")
    @Scripts.Render("~/bundles/datatables")

    <script>
        $(function() {

            $('#datatable').DataTable({
                "serverSide": true,
                "processing": true,
                "ajax": "@Url.Action("GetLinks", "Links", null, Request.Url.Scheme)",
                "columns": [
                    {
                        data: 'WebsiteUrl'
                    },
                    {
                        data: 'AnchorText'
                    }
                ]
            });

        });

    </script>

}



<table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>WebsiteUrl</th>
            <th>AnchorText</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>WebsiteUrl</th>
            <th>AnchorText</th>
        </tr>
    </tfoot>
</table>
