@model Link2Web.Models.Contact

@{
    ViewBag.Title = "Delete contact @Model.Name";
}

@section scripts
{
    <script>
        var item_to_delete;
        $(".deleteItem").click(function(e) {
            item_to_delete = $(this).data('id');});
        $('#btnContinueDelete').click(function() {
            window.location = "/Contacts/DeleteConfirmed/" + item_to_delete;
        });
        $('#btnOk').click(function () {
            location.reload();
        });
    </script>
}


<div id="main">
    <h2>Delete contact</h2>
    <hr/>


    @using (Html.BeginForm("Delete", "Contacts", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="col-md-12 col-sm-12 col-xs-12 personal-info" id="deletemodal">

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert alert-success alert-dismissible fade in">
                    Are you sure you want to delete contact @Model.Name?
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-12">
                    <button data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>
                    <button id="btnContinueDelete" type="button" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </div>
    }
</div>


    <!-- Bootstrap modal popup -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-danger">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Delete contact</h4>
            </div>
            <div class="modal-body">
                <p class="success-message">Are you sure you want to delete contact @Model.Name? </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="btnOk">Ok</button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- End of the boostrap modal popup -->