<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle">
                    <i class="fa fa-bars"></i>
                </a>
            </div>

            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "dropdownLogoutForm"}))
            {
                @Html.AntiForgeryToken()

                <ul class="nav navbar-nav navbar-right">

                    <li class="">
                        @if (ViewData["FullName"] != null)
                        {
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Profile
                                @*                                <img src="@Url.Action("ProfilePicture", "Home" )" alt="">@ViewData["FullName"]*@
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                          
                                <li>
                                    <a href="@Url.Action("ChangePassword", "Manage")"> Change password</a>
                                </li>
                                <li>
                                    <a href="javascript:document.getElementById('dropdownLogoutForm').submit()"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                </li>
                            </ul>
                        }
                    </li>

                    <!-- Profile Messages-->
                    @*@Html.Partial("_Messages")*@

                </ul>
            }
        </nav>
    </div>
</div>
