
@{
    ViewBag.Title = "Visitors";
}

@section AdditionalResources
{
    @Styles.Render("~/Content/telerik")
    @Styles.Render("~/Content/telerikgrid")
    @Scripts.Render("~/bundles/telerik")
    @Scripts.Render("~/bundles/telerikgrid")

}


<h2>Visitors</h2>
