@model Link2Web.ViewModels.AnalyticsViewModel

@{
    ViewBag.Title = "Visitors by browser";
}

@section scripts
{
    @Styles.Render("~/Content/datatables")
    @Scripts.Render("~/bundles/datatables")

    <script>
        $('#visitors').DataTable({
            "serverSide": true,
            "processing": true,
            "ajax": {
                "type": "POST",
                "url": '/Analytics/GetVisitorsByBrowser/',
                'data': function(data) {
                    return JSON.stringify(data);
                },
                "dataSrc": ""
            },
            "columns": [
                { data: 'Dimension' },
                { data: 'Users' },
                { data: 'Pageviews' },
                { data: 'BounceRate' },
                { data: 'OrganicSearches' },
                { data: 'pageLoadTime' }
            ]
        });

        $.ajax({
            url: "/Analytics/GetVisitorsByBrowser/",
            "type": "POST",
            cache: false,
            success: function (data) {
                console.log(data);
            }
        });

    </script>

}


<h2>Visitors by browser</h2>


<table id="visitors" class="display">
    <thead>
    <tr>
        <th>Dimension</th>
        <th>Users</th>
        <th>BounceRate</th>
        <th>Pageviews</th>
        <th>OrganicSearches</th>
        <th>pageLoadTime</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>Dimension</th>
        <th>Users</th>
        <th>BounceRate</th>
        <th>Pageviews</th>
        <th>OrganicSearches</th>
        <th>pageLoadTime</th>
    </tr>
    </tfoot>
</table>