@using Kendo.Mvc.UI
@model Link2Web.ViewModels.AnalyticsViewModel

@{
    ViewBag.Title = "Visitors by top referer";
}

@section AdditionalResources
{
@Styles.Render("~/Content/datatables")
@Scripts.Render("~/bundles/datatables")
}


<h2>Visitors by topreferer</h2>

