
@{
    ViewBag.Title = "Elmah";
}

@section scripts{  
    <script>
        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
            obj.style.width = obj.contentWindow.document.body.scrollWidth + 'px';
        }
    </script>
}

<h2>Elmah</h2>

<iframe src="/elmah.axd" frameborder="0" scrolling="no" onload="resizeIframe(this)" ></iframe>


